@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/c/c7/En_marche_vers_le_pic_du_grand_B%C3%A9nare.jpg);
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 30%;
    font-family: 'Roboto Slab', serif;
}